


@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');


@font-face {
    font-family: 'Bodoni';
    src: url('Bodoni-Book/Bodoni-Book.eot');
    src: local('Bodoni Book'), local('Bodoni-Book'),
        url('Bodoni-Book/Bodoni-Book.eot?#iefix') format('embedded-opentype'),
        url('Bodoni-Book/Bodoni-Book.woff2') format('woff2'),
        url('Bodoni-Book/Bodoni-Book.woff') format('woff'),
        url('Bodoni-Book/Bodoni-Book.ttf') format('truetype'),
        url('Bodoni-Book/Bodoni-Book.svg#Bodoni-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



