footer{
    .social{
        a{
        color: #ECD9D9 !important;
        font-size: 2.5rem;
        &:not(:last-of-type){
            margin-right: 3.3rem;
        }
        }
        
    }
    .footer-content{
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 4.1rem;
            letter-spacing: -0.17px;
        }
}