img{
    max-width: 100%;
}

h2{
    font-family:  'Bodoni';;
}

body{
    font-family: $lato;
    font-weight: 300;
}

.section-title{
    font-family: 'Bodoni';;
    color: #1E1E1E;
    font-size:3rem;
    line-height: 4.5rem;
    letter-spacing: 5px;
    text-align: left;
    padding-bottom: 25px;
    margin-bottom: 43px;
    position: relative;
    text-transform: uppercase;
    &:after{
        content: '';
        width:74px;
        height:1px;
        background-color: $primary;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.news-title{
    font-family: $lato;
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 4.4rem;
    letter-spacing: normal;
    text-transform: uppercase;
    @media(min-width:576px){
        font-size: 2.6rem;
    }

}
