

header{
    background-color: #FFFFFF;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 12;
    @media(min-width:992px){
        padding: 28px 0 27px;

    }
    .navbar-brand{
        max-width: 200px;
        img{
            display: block;
        }
    }

    .navbar-toggler{
        outline: none !important;
        box-shadow: none !important;
    }

    .navbar-nav{
        border-bottom: 1px solid #ecd9d9;
        @media(min-width:992px){
            border-bottom:none;
        }
        .nav-item{
            &:not(:last-of-type){
                border-bottom: 1px solid #ecd9d9;
                @media(min-width:992px){
                    border-bottom:none;
                }
            }
            &:hover{
                color: #ECD9D9;
                background-color: #1e1e1e;
            }
            &:after{
                content: '';
                width:100%;
                height:1px;
                display: block;
            }
            @media(min-width:992px){
                border-bottom: none;
                position: relative;
                &:hover{
                    color: #1e1e1e;
                    background-color: #ffffff;
                    .submenu{
                        opacity: 1;
                        transform: rotateX(0) perspective(1000px);

                    }
                }
                &:hover:after{
                    content: '';
                    width:100%;
                    height:1px;
                    display: block;
                    background-color: #ECD9D9 !important;
                    color: #1e1e1e;
                    z-index: 14;

                }
                &:not(:last-of-type){
                    margin-right: 72px;
                }
            }

            .nav-link{
                font-weight: 400;
                font-size: 1.4rem;
                line-height: 1.7rem;
                letter-spacing: 1px;
                position: relative;
                .toggle-submenu{
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 30px;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    @media(min-width:992px){
                        display: none;
                    }
                }

            }
            .submenu{
                display: none;
                transition: 0.5s linear;
                background-color: white;
                @media(min-width:992px){
                    margin-left: 30px;
                    display: block !important;
                    transform: rotateX(-90deg);
                    transform-origin: 0 0;
                    opacity: 0;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    .nav-item{
                        margin: 0 10px 0 10px;
                        padding: 5px 0 5px 0;

                        .nav-link{
                            @media(min-width:992px){
                                white-space: nowrap;
                            }
                        }
                    }
                }
            }
        }
    }
}