

header{
    @media(min-width:992px){
        padding: 32px 0 31px;
    }
    .navbar-brand{
        max-width: 200px;
        img{
            display: block;
        }
    }

    .navbar-toggler{
        outline: none !important;
        box-shadow: none !important;
    }

    .navbar-nav{
        .nav-item{
           &:after{
                    content: '';
                    width:100%;
                    height:1px;
                    display: block;
                }
            @media(min-width:992px){
                &:hover:after{
                    content: '';
                    width:100%;
                    height:1px;
                    display: block;
                    background-color: $primary;
                }
                &:not(:last-of-type){
                    margin-right: 72px;
                }
            }

            .nav-link{
                font-weight: 400;
                font-size: 1.4rem;
                line-height: 1.7rem;
                letter-spacing: 1px;
                
            }
        }
    }
}